trunk/msconvertee/src/au/edu/unimelb/plantcell/servers/msconvertee/impl/MSDataConversionJob.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.plantcell.unimelb.edu.au/bioinformatics/schemas/v1/msconvertee" 
		elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.plantcell.unimelb.edu.au/bioinformatics/schemas/v1/msconvertee" xmlns:xmime="http://www.w3.org/2005/05/xmlmime">

    <element name="ProteowizardJob" type="tns:ProteowizardJobType"></element>
    
    <complexType name="ProteowizardJobType">
    	<sequence>
    		<element name="DataFile" type="tns:DataFileType"
    			minOccurs="1" maxOccurs="unbounded">
    		</element>
    		<element name="OutputFormat" minOccurs="1" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="MGF"></enumeration>
    					<enumeration value="MzML"></enumeration>
    					<enumeration value="MzXML"></enumeration>
    					<minLength value="3"></minLength>
    					<maxLength value="20"></maxLength>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="FilterParameters"
    			type="tns:FilterParametersType" minOccurs="0" maxOccurs="1">
    		</element>
    		<element name="Compression" type="tns:CompressionType" minOccurs="0" maxOccurs="1"></element>
    		<element name="PrecursorCorrection"
    			type="tns:PrecursorCorrectionType" minOccurs="0" maxOccurs="1">
    		</element>
    	</sequence>
    </complexType>

    <complexType name="DataFileType">
    	<sequence>
    		<element name="order" type="int"></element>
    		<element name="format" type="string"></element>
    		<element name="suggestedName" type="string"></element>
    		<element name="data" type="base64Binary" xmime:expectedContentTypes="application/octet-stream"></element>
    	</sequence>
    </complexType>

    <complexType name="FilterParametersType">
    	<sequence>
    		<element name="msLevelFilter" minOccurs="0" maxOccurs="3"
    			type="tns:MsLevelType">
    		</element>
    		<element name="peakPicking" type="string"></element>
    		<element name="IntensityFilter"
    			type="tns:ThresholdParametersType" minOccurs="0" maxOccurs="1">
    		</element>
    		<element name="mzWindowFilter" type="tns:WindowFilterType"
    			minOccurs="0" maxOccurs="1">

    		</element>
    		<element name="polarityFilter" minOccurs="0"
    			maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="positive"></enumeration>
    					<enumeration value="negative"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="noiseFilter" type="tns:noiseFilteringType"
    			minOccurs="0" maxOccurs="1">
    		</element>
    		<element name="activationFilter"
    			type="tns:activationFilteringType" minOccurs="0" maxOccurs="1">
    		</element>
    		<element name="analyzerFilter" minOccurs="0"
    			maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="quad"></enumeration>
    					<enumeration value="orbi"></enumeration>
    					<enumeration value="FT"></enumeration>
    					<enumeration value="IT"></enumeration>
    					<enumeration value="TOF"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="deisotopeFilter"
    			type="tns:deisotopeFilteringType" minOccurs="0" maxOccurs="1">
    		</element>
    		<element name="etdFilter" type="tns:etdFilteringType"
    			minOccurs="0" maxOccurs="1">
    		</element>
    		<element name="scanFilter" type="tns:scanFilterType"></element>
    		<element name="chargeStateFilter"
    			type="tns:chargeStateFilterType">
    		</element>
    		<element name="mzPrecursorFilter"
    			type="tns:mzPrecursorFilterType">
    		</element>
    		<element name="zeroesFilter" type="tns:zeroesFilterType"></element>
    		<element name="ms2denoise" type="tns:MS2DenoiseType"></element>
    		<element name="ms2deisotope" type="tns:MS2DeisotopeType"></element>
    	</sequence>
    </complexType>

    <complexType name="MsLevelType">
        <annotation>
        	<documentation>If you are only interested in certain stages of fragmentation eg. MS/MS or MS/MS/MS you should specify the desired levels here eg. 2-3 would be specified
as &lt;msLevel&gt;2&lt;/msLevel&gt;&lt;msLevel&gt;3&lt;/msLevel&gt;</documentation>
        </annotation>
        <sequence>
    		<element name="msLevel" maxOccurs="unbounded"
    			minOccurs="1">
    			<simpleType>
    				<restriction base="int">
    					<minExclusive value="1"></minExclusive>
    					<maxExclusive value="5"></maxExclusive>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>
    
    <complexType name="CompressionType">
    	<sequence>
    	</sequence>
    	<attribute name="use_32bit_for_mz" type="boolean"></attribute>
    	<attribute name="use_32bit_for_intensity" type="boolean"></attribute>
    	<attribute name="gzip_entire_file" type="boolean"></attribute>
    </complexType>

    <complexType name="PrecursorCorrectionType">
    	<attribute name="recalculate" type="boolean"></attribute>
    	<attribute name="refine" type="boolean"></attribute>
    </complexType>

    <complexType name="ThresholdParametersType">
    	<choice>
            <sequence>
            	<choice><element name="TICAbsoluteThreshold" type="tns:AbsoluteThresholdType">
    		</element><element name="TICRelativeThreshold" type="tns:RelativeThresholdType">
    		</element><element name="BasePeakRelativeThreshold" type="tns:RelativeThresholdType">
    		</element><element name="AbsoluteThreshold" type="tns:AbsoluteThresholdType">
    		</element><element name="KeepNThresholdIncludingTies" type="tns:KeepNThresholdType">
    		</element><element name="KeepNThreshold" type="tns:KeepNThresholdType">
    		</element></choice>
            </sequence>
    	</choice>
    </complexType>

    <complexType name="KeepNThresholdType">
    	<sequence>
    		<element name="msLevels" type="tns:MsLevelType"></element>
    	</sequence>
    	<attribute name="what">
    		<simpleType>
    			<restriction base="tns:MostOrLeast">
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="n" type="int"></attribute>
    </complexType>

    <complexType name="AbsoluteThresholdType">
    	<attribute name="what">
    		<simpleType>
    			<restriction base="tns:MostOrLeast">
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="intensity_threshold" type="double"></attribute>
    </complexType>

    <simpleType name="MostOrLeast">
    	<restriction base="string">
    		<enumeration value="MostIntense"></enumeration>
    		<enumeration value="LeastIntense"></enumeration>
    	</restriction>
    </simpleType>

    <complexType name="RelativeThresholdType">
    	<attribute name="what" type="tns:MostOrLeast"></attribute>
    	<attribute name="fraction" type="double"></attribute>
    </complexType>


    <complexType name="mzWindowFilterType">
    	<sequence>
    		<element name="lower" type="double"></element>
    		<element name="upper" type="double"></element>
    	</sequence>
    </complexType>

    <complexType name="noiseFilteringType">
    	<attribute name="peaks_in_window" type="double"></attribute>
    	<attribute name="window_width_da" type="double"></attribute>
    	<attribute name="multicharge_fragment_relaxation" type="boolean"></attribute>
    </complexType>

    <complexType name="deisotopeFilteringType">
    	<attribute name="hires" type="boolean"></attribute>
    	<attribute name="mz_tolerance" type="double"></attribute>
    </complexType>

    <complexType name="etdFilteringType">
    	<sequence>
    		<element name="tolerance" type="string"></element>
    	</sequence>
    	<attribute name="remove_precursor" type="boolean"></attribute>
    	<attribute name="remove_charge_reduced" type="boolean"></attribute>
    	<attribute name="remove_neutral_loss" type="boolean"></attribute>
    </complexType>

    <complexType name="activationFilteringType">
    	<sequence>
    		<element name="activationToAccept" minOccurs="1" maxOccurs="20">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="ETD"></enumeration>
    					<enumeration value="CID"></enumeration>
    					<enumeration value="SA"></enumeration>
    					<enumeration value="HCD"></enumeration>
    					<enumeration value="BIRD"></enumeration>
    					<enumeration value="ECD"></enumeration>
    					<enumeration value="IRMPD"></enumeration>
    					<enumeration value="PD"></enumeration>
    					<enumeration value="PSD"></enumeration>
    					<enumeration value="PQD"></enumeration>
    					<enumeration value="SID"></enumeration>
    					<enumeration value="SORI"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>

    <complexType name="scanFilterType">
        <annotation>
        	<documentation>Selects the specified scans to include in the output 
(typically an integer is expected, although we permit non-integer values to support wierd formats)
</documentation>
        </annotation>
        <sequence>
    		<element name="firstInclusive" type="string"></element>
    		<element name="lastInclusive" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="chargeStateFilterType">
        <annotation>
        	<documentation>0 can be used to denote including spectra with no charge state specified. </documentation>
        </annotation>
        <sequence>
    		<element name="acceptCharge" type="int" minOccurs="1" maxOccurs="20"></element>
    	</sequence>
    </complexType>

    <complexType name="WindowFilterType">
        <annotation>
        	<documentation>Specify a range of (unitless) numeric values to accept. low must be less than, or equal to high.</documentation>
        </annotation>
        <sequence>
    		<element name="low" type="double"></element>
    		<element name="high" type="double"></element>
    	</sequence>
    </complexType>

    <complexType name="mzPrecursorFilterType">
        <annotation>
        	<documentation>specify a list of m/z values to accept. 0 may be used to specify accept when no precursor is available.</documentation>
        </annotation>
        <sequence>
    		<element name="acceptMZ" type="string" minOccurs="1" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>

    <complexType name="zeroesFilterType">
    	<sequence>
    		<element name="mode" type="string">
    			<annotation>
    				<documentation>
    					Either addMissing or removeExtra depending on
    					the nature of the processing you want done.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="flankingZeroCount" type="int"></element>
    		<element name="applyToMsLevel" type="int" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>

    <complexType name="MS2DenoiseType">
    	<sequence>
    		<element name="peaksInWindow" type="int" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="windowWidth" type="double" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>In Dalton</documentation>
    			</annotation>
    		</element>
    		<element name="multichargeFragmentRelaxation" type="boolean" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="MS2DeisotopeType">
    	<sequence>
    		<element name="hires" type="boolean"></element>
    		<element name="mz_tolerance" type="double" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>